<footer class="col-md-12" style="background-color: #1899D6; position: absolute; bottom: 0vh; width: 100vw;">
    <p class="text-white text-center">© Flagame Corporation</p>
</footer>


</body>
</html>