<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/question.css">
<!--     <link rel="stylesheet" href="css/style.css"> 
 -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
<!--     <script src="/js/script.js"></script>
 -->
    <title>Node JS</title>
</head>
<body>
    <header class="col-md-12" style="background-color: #003399; height: 3.5em;">
        <h1 class="text-white text-center">Flagame</h1>
    </header>
