<%- include('header');%>

<div class="row d-flex align-items-center" style="height: 80vh">
    <div class="col-md-4 offset-md-1 border border-primary text-center" style="margin-top: 5vh; margin-bottom: 5vh; ">
        <h3>Trouvez le drapeaux grâce aux noms du pays</h3>
        <div style="margin-top: 5vh; margin-bottom: 5vh; height: 26vh;">
            <img src="/img/drapeaux.jpg" alt="image des drapeaux europeen" style="opacity: 0.2; max-height: 100%;margin: auto;">
        </div> 
    </div>
    <div class="col-md-4 offset-md-2 border border-primary text-center" style="margin-top: 5vh; margin-bottom: 5vh;">
        <h3>Trouvez le nom du pays grâce aux drapeaux</h3>
        <div style="margin-top: 5vh; margin-bottom: 5vh; height: 26vh;">
            <img src="/img/nompays.jpg" alt="nom des pays europeen" style="opacity: 1; max-height: 100%;margin: auto;">
        </div>
        
    </div>
</div>

<%- include('footer');%>