<%- include('header');%>
<%- include('pays');%>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Quel est le drapeau du <span id="pays"></span> ?</h1>
        </div>
        <div class="col-md-8">
            <div class="row d-flex justify-content-center">
                <div class="col-md-5 border border-primary" id="case1" style="cursor: pointer;">
                    <a id="rep1" onclick=""><img src="" id="img1" style="width:40%;" class="mx-auto d-block"> </a>
                </div>
                <div class="col-md-5 border border-primary" id="case2" style="cursor: pointer;">
                    <a id="rep2" onclick=""><img src="" id="img2" style="width:40%;" class="mx-auto d-block"> </a>
                </div>
                <div class="col-md-5 border border-primary" id="case3" style="cursor: pointer;">
                    <a id="rep3" onclick="" ><img src="" id="img3" style="width:40%;" class="mx-auto d-block"> </a>
                </div>
                <div class="col-md-5 border border-primary" id="case4" style="cursor: pointer;">
                    <a id="rep4" onclick=""><img src="" id="img4" style="width:40%;" class="mx-auto d-block"> </a>
                </div>
            </div>
        </div>
        <button id="start">Commencer</button>
        <button id="reload">Question suivante</button>
        <button id="finish">Finir</button>

    </div>
</div>
<%- include('footer');%>