<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/question.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center d-flex align-items-center justify-content-center" style="height:10vh;">
            <h2 class="">Quelle est le drapeau du</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 bg-light text-center border p-3" style="height:20vh;"></div>
            <div class="col-md-6 bg-light text-center border p-3" style="height:20vh;"></div>
            <div class="col-md-6 bg-light text-center border p-3" style="height:20vh;"></div>
            <div class="col-md-6 bg-light text-center border p-3" style="height:20vh;"></div>
        </div>
        <div class="row justify-content-center mt-3">
            <button type="button" class="col-md-3 button-19">Valider</button>
        </div>
    </div>
    
</body>
</html>