body,html {
    font-family:din-round,sans-serif; 
    cursor: url(../../views/img/cursor.svg), auto;
}
h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    color: #1899D6;
}
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

#start, #reload, #finish {
  margin:5px;
}

footer{
  position: fixed;
  top: 97vh;
}

#case1, #case2, #case3, #case4{
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  cursor: url(../../views/img/cursor1.svg), auto;
}

.cursor:hover, .button-19:hover{
  cursor: url(../../views/img/cursor1.svg), auto;
}

body{
  height: 100vh;
}

.container{
  margin-top: 18vh;
}
